html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* цвет текста заголовков #212121; */
/* основной цвет теста #757575; */
/* белый #ffffff; */
/* акцент #2196F3; */
/* вторичный акцент rgba(33, 150, 243, 0.9); */

/* вторичный цвет фона #f5f4fa; */
/* цвет фона футера #2f303a; */
/* цвет фона секции rgba(47, 48, 58, 0.8); */
/* цвет фона иконок футера rgba(255, 255, 255, 0.1); */

/* основной цвет текста футера rgba(255, 255, 255, 0.6); */
/* цвет текста подвала футера rgba(255, 255, 255, 0.4); */

:root {
  --title-text-color: #212121;
  --primery-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --accent-secondary-color: rgba(33, 150, 243, 0.9);

  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --section-background-color: rgba(47, 48, 58, 0.8);
  --footer-icon-bgc: rgba(255, 255, 255, 0.1);

  --footer-primery-text-color: rgba(255, 255, 255, 0.6);
  --footer-secondary-text-color: rgba(255, 255, 255, 0.4);
}

body {
  background-color: var(--white-color);
  color: var(--title-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Утилиты */

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

/* Логотип */

.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--title-text-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.logo-footer {
  color: var(--white-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.logo-accent {
  color: var(--accent-color);
}

/* Site-nav */

.site-nav {
  display: flex;
  margin-left: 86px;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Nav-contacts + Main-nav */

.nav-contacts,
.main-nav {
  display: flex;
  align-items: center;
}

/* Contacts */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts > .item:not(:last-child) {
  margin-right: 30px;
}

.contacts .link {
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.contacts .mail-header,
.contacts .tel-header {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts .icon-mail {
  display: inline-block;
  width: 16px;
  height: 10.85px;
  margin-right: 10px;

  background-color: var(--primery-text-color);
}

.contacts .icon-tel {
  display: inline-block;
  width: 10px;
  height: 14.47px;
  margin-right: 10px;

  background-color: var(--primery-text-color);
}

.contacts .icon-mail:hover,
.contacts .icon-tel:hover,
.contacts .icon-mail:focus,
.contacts .icon-tel:focus {
  background-color: var(--accent-color);
}

/* Страница Студия */

/* Герой */

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;

  background-color: var(--section-background-color);
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка */
.button {
  display: block;
  padding: 10px 32px;
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--white-color);

  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Секции */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-text {
  color: var(--primery-text-color);

  font-size: 14px;
  line-height: 1.71;
}

/* Секция Features (Наши преимущества) */

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list > .item:not(:last-child) {
  margin-right: 30px;
}

.features .icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  background-color: var(--secondary-background-color);
}

.features .icon:hover {
  background-color: var(--accent-color);
}

.features .section-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.features .section-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* Секция Works (Чем мы занимаемся) */

.works-list {
  display: flex;
  justify-content: space-between;
}

.works-list > .item:not(:last-child) {
  margin-right: 30px;
  width: 370px;
}

.works .section-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: var(--section-background-color);
  color: var(--white-color);

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.works .pic {
  display: block;
  width: 370px;
}

/* Секция Team (Наша команда) */

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list > .item:not(:last-child) {
  margin-right: 30px;
  width: 270px;
}

.team {
  background: var(--secondary-background-color);
  text-align: center;
}

.team .pic {
  display: block;
  margin-bottom: 30px;
  width: 270px;
}

.team .name {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

.team .section-text {
  margin-top: 0;
  margin-bottom: 16px;
}

.socials-list {
  display: flex;
  margin-bottom: 24px;
  margin-left: 35px;
  margin-right: 36px;
  justify-content: space-between;
}

.socials-list > .item + .item {
  margin-left: 11px;
}

.socials-list .icon {
  display: block;
  width: 44px;
  height: 44px;

  color: var(--primery-text-color);
}

.socials-list .icon:hover,
.socials-list .icon:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Секция Clients (Постоянные клиенты) */

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list > .item + .item {
  margin-left: 30px;
}

.clients-list .icon {
  display: block;
  width: 175px;
  height: 90px;

  border: 2px solid var(--primery-text-color);
  color: var(--primery-text-color);
}

.clients-list .icon:hover,
.clients-list .icon:focus {
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

/* Страница Портфолио */

/* Filters (Фильтры) */

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters > .item:not(:last-child) {
  margin-right: 8px;
}

.filters-button {
  padding: 6px 22px;

  background-color: var(--secondary-background-color);

  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  border: 0 solid transparent;
  border-radius: 4px;
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/*  Examples (Примеры работ) */

.examples {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.examples > .item {
  width: 380px;
  margin: 15px;
}

.examples .pic {
  display: block;
  margin-bottom: 20px;
}

.examples-title {
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  /* margin: 0 24px 4px; */

  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-text,
.examples-desc {
  color: var(--primery-text-color);

  line-height: 1.88;
}

.examples-text {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  /* margin: 0 24px 20px; */
}

/* Футер */

.footer {
  background-color: var(--footer-background-color);
  color: var(--white-color);
}

/* Site-footer */

.site-footer {
  display: flex;
  align-items: center;
}

.adress-contacts {
  margin-top: 48px;
  margin-bottom: 28px;
}

.logo-footer {
  display: block;
  margin-bottom: 10px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-address .link {
  color: var(--footer-primery-text-color);
}

.mail-footer,
.tel-footer {
  display: inline-block;
  margin-top: 9px;
}

.socials-links {
  margin-left: 179px;
  margin-top: 56px;
  margin-bottom: 56px;
}

.footer-socials {
  display: block;
  margin-bottom: 21px;
}

.footer-socials,
.footer-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-list {
  display: flex;
}

.footer-list > .item:not(:last-child) {
  margin-right: 10px;
}

.footer .icon {
  display: block;
  width: 44px;
  height: 44px;

  background-color: var(--footer-icon-bgc);
  color: var(--white-color);
}

.footer .icon:hover,
.footer .icon:focus {
  background-color: var(--accent-color);
}

.subscribe {
  margin-left: auto;
  padding-top: 56px;
  padding-bottom: 50px;
}

.footer-form {
  display: block;
  margin-bottom: 21px;
}

/* Site-copyright */

.site-copyright {
  padding-top: 18px;
  padding-bottom: 21px;
}

.copyright {
  margin: 0;

  color: var(--footer-secondary-text-color);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}
